@import "https://unpkg.com/destyle.css@3.0.2/destyle.min.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
body {
  font-family: "IBM Plex Serif", serif;
}
.Container {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.Text {
  position: fixed;
  inset: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  color: rgb(239 68 68);
  letter-spacing: 1.2px;
  opacity: 0;
}
.Button {
  color: #333333;
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  position: relative;
}
.Button:after {
  content: "";
  display: inline-block;
  background-color: #333333;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -4px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.45, 0, 0.55, 1);
  transform: scale(0, 1);
  transform-origin: left top;
}

.Button:hover:after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
  opacity: 1;
}
